#ssHeader {
	position: relative;
	text-align: center;
	margin: 0px 0px;
	padding: 12px 0px;
	font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
}

#ssInstructions {
	position: relative;
	text-align: center;
	margin: 0px 0px;
	padding: 12px 0px;
	font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
}

#ssLogin {
	position: relative;
	text-align: center;
	margin: 0px 0px;
	padding: 12px 0px;
	font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
}

#ssLobby {
	width: 90%;
	position: relative;
	text-align: center;
	margin: 8px auto;
	background: #ddd;
	padding: 12px 0px;
	font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
	border-width: thin; 
	border-color: black;	
	border-style: outset;
	display: none;
}

#playerList {
	width: 90%;
	position: relative;
	text-align: center;
	line-height: 180%;
	margin: 8px auto;
	background: #ddd;
	font-size: 16px;
	padding: 12px;
}

